@()(implicit request: RequestHeader)

@main("Home") {
    <h1>Welcome</h1>

    <div>
        <form action="@routes.SecurityController.securityDataSave()" method="post">
            @helper.CSRF.formField
            <button type="submit">Load Securities Data</button>
        </form>

        <form action="@routes.TradeHistoryController.tradeHistoryDataSave()" method="post">
            @helper.CSRF.formField
            <button type="submit">Load Trade History Data</button>
        </form>

        <a href="@routes.UserController.logout()">Logout</a>
    </div>
}

