@()(implicit request: RequestHeader)


@main("Home") {
    <h1>Информационно-аналитическая служба московской биржи</h1>

    <div class="home-container">
        <form action="@routes.SecurityController.securityDataSave()" method="post">
            @helper.CSRF.formField
            <button type="submit">Load Securities Data</button>
        </form>

        <form action="@routes.TradeHistoryController.tradeHistoryDataSave()" method="post">
            @helper.CSRF.formField
            <button type="submit">Load Trade History Data</button>
        </form>

        <form action="@routes.CombineController.combineTable()" method="post">
            @helper.CSRF.formField
            <button type="submit">Load Combine Data</button>
        </form>
    </div>

    <div class="delete-container">
        <form action="@routes.SecurityController.deleteAllDataSecurity()" method="post">
            @helper.CSRF.formField
            <button type="submit">Security Delete All</button>
        </form>

        <form action="@routes.TradeHistoryController.deleteAllDataTradeHistory()" method="post">
            @helper.CSRF.formField
            <button type="submit">Trade History Delete All </button>
        </form>
    </div>

    <a href="@routes.UserController.logout()" class="button-link">Logout</a>
}