@()(implicit request: RequestHeader)

@main("Login") {

<form method="post" action="@routes.UserController.signIn()">
    <h2>Sign In</h2>
    @helper.CSRF.formField
    Username: <input type="text" name="username">
    <br>
    Password: <input type="password" name="password">
    <br>
    <input type="submit">
</form>

<form method="post" action="@routes.UserController.signUp()">
    <h2>Sign Up</h2>
    @helper.CSRF.formField
    Username: <input type="text" name="username">
    <br>
    Password: <input type="password" name="password">
    <br>
    <input type="submit">
</form>
}