@(securities: Seq[SecurityModel])

@main("SecurityInfo") {
    <h2>Информация о ценных бумагах</h2>

    @if(securities.nonEmpty) {
        <table border="1">
            <tr>
                <th>SECID</th>
                <th>REGNUMBER</th>
                <th>NAME</th>
                <th>EMITENTTITLE</th>
            </tr>
            @for(security <- securities) {
                <tr>
                    <td>@security.secId</td>
                    <td>@security.regNumber</td>
                    <td>@security.name</td>
                    <td>@security.emitentTitle</td>
                </tr>
            }
        </table>
    } else {
        <p>No securities available.</p>
    }

}