@(historys: Seq[TradeHistoryModel])

@main("SecurityInfo") {
    <h2>История торгов</h2>
    @if(historys.nonEmpty) {
        <table border="1">
            <tr>
                <th>SECID</th>
                <th>TRADEDATE</th>
                <th>NUMTRADES</th>
                <th>OPEN</th>
                <th>CLOSE</th>
            </tr>
            @for(history <- historys) {
                <tr>
                    <td>@history.secId</td>
                    <td>@history.tradeDate</td>
                    <td>@history.numTrades</td>
                    <td>@history.open</td>
                    <td>@history.close</td>
                </tr>
            }
        </table>
    } else {
        <p>No historys available.</p>
    }
}